@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: whitesmoke;
  font-family: 'Barlow semi condensed', sans-serif;
  line-height: 1.7;
  font-size: 13px;
}
.testimonials{
  max-width: 1440px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 15px;

}
.card{
  background-color: rgb(167, 86, 110);
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgb(51, 51, 51) 0px 48px 100px 0px;
  margin-bottom: 10px;

}
.card_header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card_header h3{
  font-size: 15px;
  color: white;
}
.card_header p{
  color: white;
}
.card_header img{
  border-radius: 100%;
  border: 2px whitesmoke solid;
  margin-right: 15px;
}
.card_lead{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5em;
}
.card_purple{
  background: rgb(107, 54, 255);
  grid-column: 1/ 3;
  grid-row: 1 / 2;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 15px;


}
.quote{
  margin-top: 2em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 85%;
}
.quote::after{
  content: "'";
}
.quote::before{
  content: "'";
}

.card_gray{
  background-color: gray;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.card_darkblue{
  background-color: rgb(41, 41, 161);
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  align-self: center;
  
}
.side{
  background-color: whitesmoke;
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
  justify-self: stretch;
  align-self: center;

}
.side p{
color: black ;
font-weight: 600;
}
.side h3{
  color: black;
}
.card:hover:not(#side){
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  opacity: 95%;
  position: relative;
}
footer{
  text-align: center;
  margin-bottom: 20px;
}